/node_modules
/storage/*.key
/vendor
/public/storage
/public/hot
/public/js/
/public/css/
/public/fonts/
/public/mix-manifest.json
/*.log
/public/*.js
/public/*.js.map

.env
.env.backup
.phpunit.result.cache
.idea
.editorconfig
.styleci.yml
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
